@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 36% 95%;
    --foreground: 222 28% 7%;
    --card: 220 36% 95%;
    --card-foreground: 222 28% 7%;
    --popover: 220 36% 95%;
    --popover-foreground: 222 28% 7%;
    --primary: 221 83% 53%;
    --primary-foreground: 220 36% 95%;
    --secondary: 221 50% 68%;
    --secondary-foreground: 222 28% 7%;
    --muted: 220 35% 20%;
    --muted-foreground: 222 28% 70%;
    --accent: 221 57% 45%;
    --accent-foreground: 220 36% 95%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 222 28% 7%;
    --border: 220 35% 20%;
    --input: 220 35% 20%;
    --ring: 221 57% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 220 36% 5%;
    --foreground: 222 28% 93%;
    --card: 220 36% 5%;
    --card-foreground: 222 28% 93%;
    --popover: 220 36% 5%;
    --popover-foreground: 222 28% 93%;
    --primary: 221 83% 47%;
    --primary-foreground: 222 28% 93%;
    --secondary: 221 50% 32%;
    --secondary-foreground: 222 28% 93%;
    --muted: 220 35% 80%;
    --muted-foreground: 222 28% 93%;
    --accent: 221 57% 55%;
    --accent-foreground: 220 36% 5%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 220 29% 10%;
    --border: 220 36% 60%;
    --input: 220 35% 80%;
    --ring: 221 57% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
